.ControlNumbers {
    width: 80vw;
    height: 140px;
    display: flex;
    justify-content: space-around;
}

.bloquesdatos {
    width: 141px;
    height: 141px;
    text-align: center;
}

.bloquesdatos h2 {
    font-size: 40px;
    color: white;
    margin-top: 20px;
}

.bloquesdatos h3 {
    font-size: 15px;
    color: #ffffff;
    margin-top: 20px;
}


@media (max-width: 600px) {
    .Panel {
        margin-top: 0px;
        margin-left: 80px;
    }
}