/* galeria.css */

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.26); /* Opacidad del 50% (0.5) */
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Asegura que el fondo no esté sobre los demás elementos */
}

.slider-container {
  width: 1349px;
  overflow: auto;
}

.slider {
  display: flex;
  gap: 43px; /* Espacio entre cada imagen */
}

.slider img {
  width: 305px;
  height: 328px;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  scroll-behavior: smooth;
}

.slider-image {
  flex: 0 0 auto; /* Evita que las imágenes se redimensionen automáticamente */
  max-width: 100%;
  height: auto;
  margin-right: 10px; /* Ajusta el margen entre imágenes según sea necesario */
}

.slider-container-wrapper {
  display: flex;
  justify-content: center;



  margin-top: 50px;
}

.slider-container {
  width: 1349px;
  height: 328px;
  margin: 0 auto;
  border-radius: 5px; /* Borde redondeado */
  overflow: hidden; /* Evita que las imágenes se desborden del contenedor */
}

.title {
  text-align: center; /* Centra el texto horizontalmente */
  color: rgb(255, 255, 255); /* Color del texto */
  font-size: 2rem; /* Tamaño de la fuente */
  margin-bottom: 10px; /* Margen inferior */
  font-family: "Inter";
  font-weight: 600;
  font-size: 60px;
}

.subtitle {
  text-align: center; /* Centra el texto horizontalmente */
  color: orange; /* Color del texto */
  font-size: 1.5rem; /* Tamaño de la fuente */
  margin-bottom: 20px; /* Margen inferior */
  font-family: "Great Vibes";
  font-weight: 200;
  font-size: 50px;
  margin-top: 50px;
}

.orange-text {
  color: orange; /* Color naranja */
}

/* Estilos específicos del modal de la galería */
.galeria-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent !important; /* Fondo oscuro con opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que el modal esté en la parte superior */
}

<
.modal-galeria-content {

  position: relative;
  width: 90%; /* Ajusta el ancho del modal según sea necesario */
  max-height: 90%; /* Ajusta la altura máxima del modal según sea necesario */
  overflow: auto;
}


.modal-galeria-content img {

  display: block;
  margin: 0 auto;
  width: 30%; /* Hace que la imagen ocupe todo el ancho disponible en el modal */
  height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
  border-radius: 20px; /* Agrega un borde redondeado a la imagen */
}

.galeria-close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.slider-image {
  width: 305px;
  height: 328px;
  border-radius: 20px;
  object-fit: cover;
}

/* galeria.css */
.modal-galeria-contentt img {
  border-radius: 20px; /* Agrega un borde redondeado a la imagen */

}
