
body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.26);
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slider-container {
  width: 1349px;
  overflow: auto;
}

.slider {
  display: flex;
  gap: 43px;
}

.slider img {
  width: 305px;
  height: 328px;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  scroll-behavior: smooth;
}

.slider-image {
  flex: 0 0 auto;
  max-width: 100%;
  height: auto;
  margin-right: 10px;
}

.slider-container-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.slider-container {
  width: 1349px;
  height: 328px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.title {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 60px;
}

.subtitle {
  text-align: center;
  color: orange;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: "Great Vibes";
  font-weight: 200;
  font-size: 50px;
  margin-top: 50px;
}

.orange-text {
  color: orange;
}

.galeria-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.galeria-modal-content {
  position: relative;
  width: 90%;
  max-height: 90%;
  overflow: auto;
}

.galeria-modal-content img {
  display: block;
  margin: 0 auto;
  width: 30%;
  height: auto;
  border-radius: 20px;
}

.galeria-close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.slider-image {
  width: 305px;
  height: 328px;
  border-radius: 20px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .slider-container .slick-slide {
    padding: 0;
    margin-left: 5px;
  }
}