* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-imagen-principal {
  background-image: url(../assets/img_home/fideos-carne.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  filter: brightness(10%);
  position: absolute;
}

.container-principal {
  height: 100%;
  width: 100%;
  position: relative;
}

.container-columnas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

/*Columna íconos*/
.container-iconos-principal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 5rem;
}

.iconos-redes-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}

.linea-vertical-principal {
  height: 10rem;
  width: 0.8px;
  background-color: white;
}

/*Columna texto*/

.container-texto-principal {
  color: white;
  width: 40rem;
}

.boton-reserva {
  background-color: #ff9f0d;
  width: 5rem;
}

.texto_uno {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  color: #ff9f0d;
  font-size: 32px;
}

.parrafo_uno {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
}

.parrafo_dos {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

.texto_destacado {
  color: #ff9f0d;
}

/*Columna imagen plato*/
.container-imagen-plato {
  width: 20rem;
}
.imagen-principal-plato {
  width: 150%;
}
