* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-general {
  background-color: #0d0d0d;
}
.container-imagen-principal {
  background-image: url(../assets/img_home/fideos-carne.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  filter: brightness(10%);
  position: absolute;
}

.container-principal {
  height: 100%;
  width: 100%;
  position: relative;
}

.container-columnas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 4rem;
}

/* Columna íconos */
.container-iconos-principal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 5rem;
}

.iconos-redes-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}

.linea-vertical-principal {
  height: 10rem;
  width: 0.8px;
  background-color: white;
}

/* Columna texto */

.container-texto-principal {
  color: white;
  width: 40rem;
}

.boton-reserva {
  background-color: #ff9f0d;
  width: 10rem;
}

.texto_uno {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  color: #ff9f0d;
  font-size: 2rem;
}

.parrafo_uno {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

.parrafo_dos {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
}

.texto_destacado {
  color: #ff9f0d;
}

/* Columna imagen plato */

.imagen-principal-plato {
  width: 100%;
}

/*Sección elegirnos*/
.container-elegirnos {
  color: white;
}
.container-filas-elegirnos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imagen-grupo-elegirnos {
  width: 50%;
  padding-left: 7rem;
}

.imagen-grupo-elegirnos img {
  width: 30rem;
  padding: 1rem;
}
.parrafo_uno-elegirnos {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.container-iconos-elegirnos {
  display: flex;
  justify-content: flex-start;
}

.container-iconos-elegirnos div {
  border: 1px solid #ff9f0d;
  background-color: #ff9f0d;
  /* width: 4rem; */
  margin-left: 1rem;
  border-radius: 0.8rem;
}

.container-iconos-elegirnos div img {
  width: 4rem;
  padding: 1rem;
}
/*Media queries*/

@media screen and (max-width: 576px) {
  .container-columnas {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0;
    justify-content: space-evenly;
    gap: 3rem;
  }

  .container-iconos-principal {
    display: none;
  }
  .container-texto-principal {
    width: 50%;
  }

  .texto_uno {
    text-align: center;
    padding-bottom: 1rem;
  }
  .parrafo_uno {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }

  .parrafo_dos {
    font-size: 0.7rem;
    word-spacing: 0.3rem;
  }

  .imagen-principal-plato {
    width: 60%;
    margin-left: 3rem;
  }
}
