.color {
  background-color: #00000000;
  font-family: "Inter", "Work Sans";
  letter-spacing: 0.3px;
}

.color .nav-link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  margin-right: 20px;
}

.color .nav-link:hover {
  color: orange;
  font-weight: 500;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:active,
.navbar-nav .show>.nav-link {
  color: orange !important;
  font-weight: 500;
}

/* Estilos específicos para Iniciar Sesión, Registrarse y Cerrar Sesión */
.color .nav-link.login-register {
  margin-right: 10px;
}

.color .nav-link.login-register:hover {
  color: orange;
}

.color .nav-link.logout {
  color: #ffffff;
  margin-left: 10px;
}

.color .nav-link.logout:hover {
  color: orange;
}

.admin-button {
  background-color: orange;
  color: white !important;
  padding: 8px 16px;
  border-radius: 4px;
  text-align: center;
  margin-right: 10px;
}