.Tabla_Reservas {
    max-width: 85vw;
    min-width: 85vw;
    margin-left: 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.Tabla_Reservas th,
.Tabla_Reservas td {
    text-align: center;
    vertical-align: middle;
    color: #7D7D7D !important;
}

.Tabla_Reservas th {
    font-weight: 400;
    font-size: 14px;
    background-color: #f8f8f8;
}

.Tabla_Reservas td {
    font-size: 13px;
}

.Tabla_Reservas tr {
    height: 102px;
}

#UserTableReservas {
    font-size: 15px;
    font-weight: 500;
    color: #222222 !important;
}

.TablaRes_Id {
    width: 5%;
}

.TablaRes_User {
    width: 20%;
}

.TablaRes_Comensales {
    width: 5%;
}

.TablaRes_Fecha {
    width: 15%;
}

.TablaRes_Hora {
    width: 15%;
}

.TablaRes_Comment {
    width: 35%;
}

.TablaRes_Botons {
    width: 5%;
}

.Tbl_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.Tbl_Header h2 {
    margin-left: 59px;
    font-size: 1.5rem;
    color: #ffffff;
}

.Tbl_Header button {
    background-color: #ff7300;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.Tbl_Header button:hover {
    background-color: #ff8800;
}

.Tbl img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.Tbl .menu-container {
    position: relative;
}

.Tbl .menu {
    position: absolute;
    right: 0;
    top: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.Tbl .menu button {
    display: block;
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

.Tbl .menu button:hover {
    background-color: #f1f1f1;
}

.Tbl .menu i {
    margin-right: 10px;
}

.shifted {
    /* Ajusta el margen izquierdo cuando el sidebar está abierto */
    margin-left: 250px;
    /* Ajusta este valor según el ancho de tu sidebar */
    transition: margin-left 0.3s ease;
    /* Agrega una transición suave */
}

@media (max-width: 768px) {
    .Tabla_Reservas thead {
        display: none;
    }

    .Tabla_Reservas {
        z-index: -5;
    }

    .Tabla_Reservas,
    .Tabla_Reservas tbody,
    .Tabla_Reservas tr,
    .Tabla_Reservas td {
        display: block;
        width: 100%;
    }

    .Tabla_Reservas tr {
        margin-bottom: 15px;
        height: max-content;
    }

    .Tabla_Reservas td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        height: 40px;
    }

    .Tabla_Reservas td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }

    .shifted {
        /* Centra el contenido cuando el sidebar está abierto en dispositivos móviles */
        margin-left: auto;
        margin-right: auto;
    }

    .Tbl_Header h2 {
        margin-left: 90px;
        font-size: 1.5rem;
        color: #ffffff;
    }
}