body {
  background-color: black !important;
  color: white;
  margin: 0;
  padding: 0;
}

.contenedor {
  position: relative;
  overflow: auto;
  padding-top: 0px;
}

.banner {
  width: 100%;
  position: relative;
}

.banner-img {
  width: 100%;
  opacity: 0.7;
}

.texto {
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.imagen {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

@media (min-width: 768px) {
  .texto {
    text-align: left;
  }

  .imagen {
    text-align: right;
  }
}

.contenedor {
  position: relative;
  overflow: hidden;
  padding-top: 0px;
}

.banner {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.banner-img {
  width: 100%;
  opacity: 0.7;
}

.texto {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  color: white;
}

.texto h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.texto h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.texto p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.imagen {
  text-align: center;
  margin: 20px auto;
  max-width: 100%;
}

.contenedor {
  position: relative;
  overflow: hidden;
  padding-top: 0;
}

.sobre-nosotros-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.banner {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.banner-img {
  width: 100%;
  opacity: 0.7;
}

.secciones {
  position: relative;
  top: -800px;
}


.final {
  text-align: center;
  margin-top: -700px;
  margin-bottom: 200px;
}

.titulo-final {
  font-size: 68px;
  margin-bottom: 20px;
  font-family: "Great Vibes";
  color: orange;
}

.texto-final {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 18px;
  margin-bottom: 40px;
  color: aliceblue;
  font-weight: 200;
  line-height: 1.5;
}

.seccion1 h1 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: bold;
  font-family: "Inter";
}

.seccion1 h3 {
  color: orange;
  font-size: 30px;
  font-weight: 200;
  font-family: "Great Vibes";
}

.seccion1 p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: justify;
  font-family: "Inter";
  font-weight: 150;
  max-width: 500px;
}

.seccion2 h1 {
  color: rgb(255, 255, 255);
  font-size: 45px;
  text-align: justify;
  font-family: "Inter";
  font-weight: bold;
  max-width: 500px;
}

.seccion2 p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: justify;
  font-family: "Inter";
  font-weight: 150;
  max-width: 500px;
}

.seccion3 h1 {
  color: rgb(255, 255, 255);
  font-size: 45px;
  text-align: justify;
  font-family: "Inter";
  font-weight: bold;
  max-width: 500px;
}

.seccion3 p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: justify;
  font-family: "Inter";
  font-weight: 150;
  max-width: 500px;
}

.seccion4 h1 {
  color: rgb(255, 255, 255);
  font-size: 45px;
  text-align: justify;
  font-family: "Inter";
  font-weight: bold;
  max-width: 500px;
}

.seccion4 p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: justify;
  font-family: "Inter";
  font-weight: 150;
  max-width: 500px;
}

.seccion1 h1,
.seccion1 h3,
.seccion1 p {
  margin-left: 150px;
}

.seccion2 h1,
.seccion2 h3,
.seccion2 p {
  margin: auto;
  text-align: justify;
  margin-top: 80px;
}

.seccion3 h1,
.seccion3 h3,
.seccion3 p {
  margin: auto;
  text-align: justify;
  margin-top: 80px;
}

.seccion4 h1,
.seccion4 h3,
.seccion4 p {
  margin: auto;
  text-align: justify;
  margin-top: 80px;
}



.seccion1 {
  margin-top: -250px;
}

.seccion2 {
  margin-top: -250px;
}

.seccion3 {
  margin-top: -250px;
}

.seccion4 {
  margin-top: -250px;
}



@media only screen and (max-width: 768px) {

  .banner {
    display: none;
  }

  .contenido {
    text-align: center;
  }

  .texto {
    text-align: center;
    margin-top: 100px;
    margin-left: 60px !important;
  }

  .imagen {
    text-align: center;
    margin-top: 35px;
    margin-left: 20px;
  }

  .seccion1 p {
    margin-top: 400px;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .seccion1 {
    margin-top: -50px;
  }

  .seccion2 {
    margin-top: -50px;
  }

  .seccion3 {
    margin-top: -50px;
  }

  .seccion4 {
    margin-top: -50px;
  }



}